Flask==2.2.2
Flask-SQLAlchemy==3.0.3
Flask-Cors==3.0.10
PyJWT==2.6.0
Werkzeug==2.2.2
python-dotenv==0.21.0
SQLAlchemy==1.4.45
firebase-admin
flask
flask-cors
python-dotenv
flask
flask-cors
firebase-admin
gunicorn